html {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(to left top, #2d6a8544, #2f627780, #66a6c275, #67bbdf42, #1e80aa59), url("https://www.transparenttextures.com/patterns/circles.png");
    /* prevents the cloud from expanding the page to the right */
    overflow: hidden;
  }

login {
    margin: 40% auto;
    display: block;
    width:500px;
    text-align:center;
    
}

#loginForm {
    background-color: whitesmoke;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    display: grid;
    place-items: center;
    box-shadow: 5px 10px #888888;
}

#loginUsername, #loginPassword {
    width: 325px;
    height: 70px;
    border-radius: 5px;
}

.thought-cloud {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  word-break: break-all;
}

.thought-cloud::after, .thought-cloud::before {
  background: whitesmoke;
  border-radius: 50%;
  content:"";
  position:fixed;
  display:inline-block;
  z-index: -1;
}

.thought-cloud::after{
  width:180px;
  height:170px;
  top: -30px;
  left: 45px;
}

.thought-cloud::before{
  width:200px;
  height:180px;
  top: -37px;
  right: 50px;
}


.thought-cloud:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;

  }

  /* vw = view width - works like % */
  @keyframes floatLeftToRight {
    from {
      transform: translateX(-30vw);
    }
    to {
      transform: translateX(100vw);
    }
  }

 .thought-input {
    position: fixed;
    background: whitesmoke;
    width:500px;
    height:50px;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border: none;
    outline: none;
    border-radius:10px;
    text-align: center;
    bottom: 10%;
    left: 50vw;
    margin-left: -250px;
  }

  .grid-wrapper {
    height: 85vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: repeat(5, 20%);
    grid-auto-rows: 0; /* set height to 0 for autogenerated grid rows */
    overflow-y: hidden; /* hide grid items that overflow */
    overflow-x: hidden;
    position: fixed;
    }

    .task-bar-toggle-btn {
      color: whitesmoke;
      position: absolute;
      top: -40px;
      left: 50%;
      border: none;
      outline: none;
      background-color: transparent;
    }

    .group-view-task-bar {
      display: flex;
      align-items: center;
      position: fixed;
      background-color: rgb(245, 245, 245);
      width: 1000px;
      height: 100px;
      bottom: -100px;
      left: 50vw;
      margin-left: -500px;
      animation-duration: 1s;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 10px 10px rgba(0,0,0,0.2);
      
    }

    @keyframes taskbarUp {
      from {
        transform: translateY(100px);
      }
      to {
        transform: translateY(0px);
      }
    }

    @keyframes taskbarDown {
      from {
        bottom: 0px;
      }
      to {
        bottom: -100px;
      }
    }

    .group-add-button {
      margin-left: 10px;
      position: relative;
      height: 80px;
      width: 80px;
      background-color: rgba(129, 171, 199, 0.253);
      border-radius: 10px;
      outline: none;
      border: none;
      transition: 0.3s;
    }

    .group-add-button:hover {
      background-color: #66a6c275;
    }

    .group {
      margin-left: 10px;
      position: relative;
      height: 80px;
      width: 80px;
      background-color: red;
      border-radius: 10px;
    }

    .new-group-form {
      position: fixed;
      background-color: whitesmoke;
      width:500px;
      height:200px;
      box-shadow: 10px 10px rgba(0,0,0,0.2);
      border: none;
      outline: none;
      border-radius:10px;
      text-align: right;
      bottom: 50%;
      left: 50vw;
      margin-left: -250px;
      padding: 30px;
      display: table;
      
    }

    /* stops default form focus behaviour */
    .new-group-form:focus { 
      outline: none; 
    }

    .form-input {
    box-sizing: border-box;
    background-color: whitesmoke;
    width:470px;
    height:50px;
    border-radius:10px;
    text-align: center;
    border: 3px solid #ccc;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: table-cell;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 7px;
    }

    .form-input:focus {
      border: 3px solid #66a6c275;
      }

      .group-form-label {
        display: table-row;
        text-align: center;
      }

      .group-form-btn {
        width:470px;
        text-align: center;
        border: none;
        background: none;
        outline: none;
        display: table-cell;
        text-align: center;
        color: #49d49f46;
      }

      .group-form-close-btn {
        color: rgba(230, 102, 63, 0.363);
        border: none;
        outline: none;
        background: none;
        text-align: right;
      }

      .group-form-close-btn:hover {
        color: rgba(230, 102, 63, 0.692);
      }

      .group-form-btn:hover {
        color: #49d49f98;
      }

      #groupColourPicker{
        border: none;
        outline: none;
    }
    
    #groupColourPicker::-webkit-color-swatch-wrapper {
        padding: 0; 
    }

    #groupColourPicker::-webkit-color-swatch {
        border: none;
        width:470px;
        height:50px;
        border-radius:10px;
    }